includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: max
    checkMissingIterableValueType: false
    paths:
        - DependencyInjection
        - Resources
        - Tests
